<div>
  <div class="mb-3 text-2xl text-[#9cb9c7] md:mb-4 md:text-4xl">About me</div>

  <ul>
    <li class="mb-2 text-gray-500 md:mb-4">
      <span class="block w-32 text-xl font-bold text-gray-700 md:inline-block"
        >Email</span
      >
       david.bertet@gmail.com
    </li>
    <li class="mb-2 text-gray-500 md:mb-4">
      <span class="block w-32 text-xl font-bold text-gray-700 md:inline-block"
        >Address</span
      >
       Sillicon Valley, California - USA
    </li>
    <li class="text-gray-500">
      <span class="block w-32 text-xl font-bold text-gray-700 md:inline-block"
        >Current role</span
      >
       Mobile architect @ Quotient
    </li>
  </ul>
</div>
