---
import { createCanvas, GlobalFonts } from "@napi-rs/canvas";

// Use images to display email
GlobalFonts.registerFromPath('./build_fonts/JosefinSans.ttf')
const canvas = createCanvas(400, 40)
const ctx = canvas.getContext('2d')
ctx.font = "36px Josefin Sans"
ctx.fillStyle = "#bed1da"
ctx.fillText(import.meta.env.EMAIL, 2, 30)
const pngData = canvas.toDataURL('image/png')

---
<div>
  <div class="mb-3 text-2xl text-[#bed1da] md:mb-4 md:text-4xl">About me</div>

  
  <ul class="text-[#bed1da]">
    <li class="mb-2 md:mb-4 flex flex-col md:flex-row">
      <span class="block w-32 text-xl font-bold text-gray-800 md:inline-block me-1"
        >Email</span
      >
      <div class="md:self-center w-[200px]">
        <a href=`${import.meta.env.BASE_URL}/redirect/email`>
          <img src={pngData} alt="email" />
        </a>
      </div>
    </li>
    <li class="mb-2 md:mb-4">
      <span class="block w-32 text-xl font-bold text-gray-800 md:inline-block">Address</span>
       Sillicon Valley, California - USA
    </li>
    <li>
      <span class="block w-32 text-xl font-bold text-gray-800 md:inline-block"
        >Current role</span
      >
       Software architect @ Quotient Technology Inc.
    </li>
  </ul>
</div>
