---

---

<footer class="h-40 text-center text-gray-500 bg-purple-800">
  <form method="POST">
    <div>
      <input type="text" name="name" placeholder="Name" />
    </div>
    <div>
      <input type="email" name="email" placeholder="Email" />
    </div>
    <div>
      <textarea name="message" placeholder="Message"></textarea>
    </div>
    <div>
      <button type="submit">Send</button>
    </div>
  </form>

  <div>© David Bertet 2023</div>
</footer>
