---
import ConditionalLink from "./ConditionalLink.astro";

interface Props {
  name: string;
  image?: string;
  link?: string;
}

const { image, link } = Astro.props;
---

<div
  class="group relative flex aspect-square overflow-hidden rounded-lg shadow-xl"
>
  <ConditionalLink link={link} target="_blank">
    <img
      class="absolute h-full w-full bg-purple-400 object-cover duration-500 ease-in-out group-hover:rotate-6 group-hover:scale-125"
      src={import.meta.env.BASE_URL + image}
    />

    <div
      class="absolute h-full w-full bg-black opacity-0 transition-opacity duration-500 group-hover:opacity-50"
    >
    </div>
  </ConditionalLink>
</div>
